body{background:rgb(180, 228, 250);}
.scene{bord/er:solid 1px black;width:520px;height:50px;margin:auto;position:absolute;top:0;left:0;right:0;bottom:0;}
.circle{width:50px;height:50px;display:block;float:left;background:blue;border-radius:0px 50px 0px 0px;-webkit-transform-origin:left bottom;}
.aa{background:rgb(0, 152, 255);}
.bb{background:rgb(100, 125, 255);}
.cc{background:rgb(167, 98, 255);}
.dd{background:rgb(237, 87, 255);}
.ee{background:rgb(255, 81, 113);}
.ff{background:rgb(255, 49, 148);}
.gg{background:rgb(235, 47, 0);}
.hh{background:rgb(232, 83, 0);}
.ii{background:rgb(232, 120, 0);}
.jj{background:rgb(232, 158, 0);}

.bb,.dd,.ff,.hh,.jj{-webkit-transform:rotate(90deg);-webkit-animation:animation2 2s infinite ease-in-out;}

.aa,.cc,.ee,.gg,.ii{-webkit-animation:animation1 2s infinite ease-in-out;}

@-webkit-keyframes animation1
{
50%{-webkit-transform:rotate(360deg);}
100%{-webkit-transform:rotate(0deg);}
}

@-webkit-keyframes animation2
{
50%{-webkit-transform:rotate(-270deg);}
100%{-webkit-transform:rotate(90deg);}
}
