body{
margin:0;
}

.rightContain{
float:right;
border:1px solid black;
text-align:center;
}

input{
padding:5px 10px;
width:60px;
}

.chartDivisions{
margin-bottom:10px;
}


button{
margin-bottom:10px;
}


canvas{
position:absolute;
top:50%;
left:50%;
transform:translateY(-50%) translateX(-50%);
}

#myCanvas2{
display:none;
top:0%;
left:initial;
right:8%;
float:right;
transform:none;
}

#myCanvas2.active{
display:block;
}

#color_wheel{
display:none;
}

.color_code{
display:inline-block;
width:10px;
height:10px;
background-color:red;
margin-right:10px;
}

.colorPicker{
display:inline-block;
width:10px;
height:10px;
background-color:red;
margin-right:10px;
}
